
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
  background-color: #ffffff;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #0BCEAF;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #078571;
  text-decoration: underline;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.display-1 {
  font-size: 10rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}


.container,
.container-fluid,
.container-xl { 
  width: 100%;
  padding-right: 15px;
  margin-top: 40px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.d-inline {
  display: inline !important;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 992px) {
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-7-align{
    text-align: center;
    margin: auto;
  }
}

.btn-light {
  color: #212529;
  background-color: #ffffff;
  border-color: #ffffff;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-collapse {
  flex-grow: 1;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}



.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}



.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}



.bg-primary {
  background-color: #0BCEAF !important;
}



.bg-light {
  background-color: #ffffff !important;
}



.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}



.border-primary {
  border-color: #0BCEAF !important;
}


.rounded-circle {
  border-radius: 50% !important;
}


.d-none {
  display: block !important;
  font-size: 25px;
  margin-top: 30px;
  color: white;
}

.d-flex {
  display: flex !important;
}



.justify-content-center {
  justify-content: center !important;
}



.align-items-center {
  align-items: center !important;
}



.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}


.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}



.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}


.w-100 {
  width: 100% !important;
}



.m-0-a {
  margin-top: 200px;
}



.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}



.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}



.m-auto {
  margin: auto !important;
  margin-right: 0px !important;
}



@media (min-width: 992px) {
  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important;
  }
}


.text-center {
  margin-top: -150px;
  text-align: center !important;
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}



.font-weight-lighter {
  font-weight: lighter !important;
}

.text-white {
  color: #fff !important;
}

.text-primary {
  color: #0BCEAF !important;
}


/********** Template CSS ************/
h1,
.font-weight-bolder {
  font-weight: 900 !important;
}

.btn {
  padding: 10px 25px;
  border-radius: 100px;
}

.btn-social {
  width: 45px;
  height: 45px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 45px;
}


.navbar-light .navbar-nav .nav-link {
  padding: 25px 10px;
  color: #343a40;
  font-weight: 500;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #0BCEAF;
}

.typed-cursor {
  font-size: 45px;
  color: #ffffff;
}
